.message {
  color: green;
}

.error {
  color: red;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.list-group-item .border-0 {
  list-style-type: disc !important;
  padding-left: 1em;
}
